---
import Layout from '../layouts/Layout.astro';
import LiveEditor from '../components/LiveEditor';

export const prerender = false;
---

<Layout title="Live Recording - Ophelia">
        <main>
                <LiveEditor client:only="react" />
        </main>
</Layout>
