@import "tailwindcss";

@theme {
  --color-ophelia-orange: #ff7a1a;
  --color-dark-bg: #0a0a0a;
  --color-card-bg: #141414;
}

@layer base {
  body {
    @apply bg-dark-bg text-white antialiased;
  }
}
