---
import Layout from '../../layouts/Layout.astro';
import EditorApp from '../../components/EditorApp';

const { id } = Astro.params;

if (!id) {
    return Astro.redirect('/');
}
---

<Layout title="Guide Editor">
	<main>
		<EditorApp client:only="react" guideId={id} />
	</main>
</Layout>
