---
import Layout from '../layouts/Layout.astro';
import DashboardApp from '../components/DashboardApp';
---

<Layout title="Dashboard">
	<main>
		<DashboardApp client:only="react" />
	</main>
</Layout>
